@font-face {
    font-family: 'custom-icon-cv';
    src: url('custom-font-awesome/custom-icon-cv.eot');
    src: url('custom-font-awesome/custom-icon-cv.eot?') format('embedded-opentype'),
         url('custom-font-awesome/custom-icon-cv.woff') format('woff'),
         url('custom-font-awesome/custom-icon-cv.ttf') format('truetype'),
         url('custom-font-awesome/custom-icon-cv.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li:hover {
    background-color: #fce6e7;
}
.my-meeting.row{
	overflow: hidden;
}
.my-meeting.row:before,
.my-meeting.row:after {
	content: "";
	background: url(/files/after-section-reunion.png) no-repeat center 0;
	position: absolute;
	background-size: cover;
	height: 346px;
}
.my-meeting.row:before {
	left: 8px;
	bottom: 90px;
	width: 155px;
}
.my-meeting.row:after {
	right: -33px;
	top: 36px;
	width: 170px;
}

.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li {
	list-style: none;
}
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li:nth-of-type(odd) {
    background-color: #e7e0d9;
	border-radius: 20px 0;
}
.page-tous-mes-groupes .views-element-container .item-list ul {
	margin-left: 0;
}
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 h2, .section-toutes-mes-reunions .block-views-block-civievents-base-sur-le-contact-block-7 h2 {
    font-weight: 600;
    font-size: 2.3rem;
    font-family: 'DM Serif Display' !important;
    margin-bottom: 2rem;
}

.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li a {
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    line-height: initial;
    color: #140d3d;
    font-weight: 600;
    font-size: 1.2rem;
}
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li a:before {
    content: '\e81a';
    font-family: "custom-icon-cv";
    font-weight: 900;
    margin-right: 1rem;
    color: #fff;
    width: 60px;
    height: 60px;
    background-color: #3e7269;
    border-radius: 100%;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
}