@font-face {
    font-family: 'custom-icon-cv';
    src: url('custom-font-awesome/custom-icon-cv.eot');
    src: url('custom-font-awesome/custom-icon-cv.eot?') format('embedded-opentype'),
         url('custom-font-awesome/custom-icon-cv.woff') format('woff'),
         url('custom-font-awesome/custom-icon-cv.ttf') format('truetype'),
         url('custom-font-awesome/custom-icon-cv.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
/* @font-face {
  font-family: "Montserrat", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
} */
@font-face {
    font-family: 'Montserrat Variable';
    font-weight: normal;
    font-display: swap;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/montserrat:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  }

a, p, h1, h2, h3, div{
    font-family: "Montserrat Variable", sans-serif !important;
}
.group-detail-page .layout.layout--twocol-section.layout--twocol-section--50-50 + .layout--onecol {
    display: none !important;
    background-color: red;
}
.section-civicrm-group .layout__region.layout__region--content .block-layout-builder > h2 {
    display: none;
}
#block-b-zf-blockdocumentgroup > .page-detail-groupoes {
    display: none;
}
.icon-group svg#Groupe_3068 {
    font-size: 10px;
    width: 35px;
    height: 50px;
}
.section-civicrm-group  .group-detail-page .layout.layout--twocol-section.layout--twocol-section--50-50 + .layout--onecol {
    display: block !important;
    background-color: unset;
}
.section-civicrm-group .views-element-container h2:before {
    content: '\e81a' !important;
    position: relative;
    font-family: "custom-icon-cv" !important;
    font-style: normal;
    font-weight: 400 !important;
}
.intitule-event {
    color: #707070;
    margin-bottom: 0;
    font-family: "new-order", sans-serif !important;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.section-civicrm-event #main .civicrm-entity--type-civicrm-event .meeting-page {
    display: flex;
    justify-content: center;
}
.section-civicrm-event #main .civicrm-entity--type-civicrm-event .main-title-last-doc {
    color: #140d3d;
    font-weight: 600;
    font-size: xx-large;
    text-align: left;
    font-family: "new-order", sans-serif !important;
    padding: 15px 0 0;
}
.line-container-plus, .line-container-moins {
    display: flex;
    align-items: center;
}
.hr-line-accoredon, .title-and-chevron .hr-other-doc {
    border: 1px solid #7070704d;
    width: 100%;
    max-width: 100%;
}
.section-civicrm-event .layout__region .views-element-container.contextual-region.block-views h2:before {
    content: '\e81a';
    position: relative;
    font-family: "custom-icon-cv" !important;
    font-style: normal;
    font-weight: 400 !important;
}
.last-doc-title i.fas.fa-file {
    margin-right: 1rem;
    padding-right: 5px;
}
p.group-name {
    font-size: 2.1rem !important;
}
.section-civicrm-event .layout__region .views-element-container.contextual-region.block-views h2 {
    border-bottom: initial;
    text-align: initial;
    color: #3d3d3d;
    font-size: xxx-large;
    font-weight: 600;
    font-family: "DM Serif Display" !important;
}
.section-civicrm-event .date-start-and-end, .section-civicrm-event .date-end-event {
    background-color: #edeae77a;
    padding: 5px 20px;
    border-radius: 15px 0;
    display: flex;
    justify-content: center;
}
.section-civicrm-event article.contextual-region.civicrm-entity.civicrm-entity--type-civicrm-event.civicrm-entity--view-mode-full {
    top: 21px;
}
.eventt-time {
    text-transform: capitalize;
    font-family: "new-order", sans-serif !important;
    font-style: normal;
    color: #707070;
    display: flex !important;
    font-weight: 600;
}
.section-civicrm-event #main .civicrm-entity--type-civicrm-event h2.intitule-h2 {
    color: #140d3d;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    font-family: "new-order", sans-serif !important;
    padding: 15px 0 0;
    position: relative;
    z-index: 55;
}
.line-container-plus a.btn-see-other-doc, .line-container-moins a.btn-dismiss-other-doc {
    white-space: nowrap;
    padding: 0 3rem;
    color: #140d3d;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}

.section-civicrm-event .date-start-event {
    color: #707070;
    display: flex !important;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 0 !important;
    gap: 10px;
}
.section-civicrm-group .layout.layout--twocol-section.layout--twocol-section--50-50 {
    background-color: #f7f5f3;
    border-radius: 50px 0;
    padding: 50px 20px;
    margin: 0;
    gap: 30px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
.section-civicrm-group .layout--twocol-section .layout__region.layout__region--first {
    border-right: unset !important;
    border-left: 5px solid #fff;
    padding: 0 0 0 30px;
    margin: 0;
}
.civicrm-entity--view-mode-full .layout--twocol-section .layout__region {
    margin: 0 !important;
}
.section-civicrm-group .meeting-com.odd {
    background-color: #e7e0d9 !important;
    pointer-events: none;
}
.button-purple {
    border-radius: 9px !important;
}
.section-civicrm-group table a, .section-civicrm-group table td, .section-civicrm-group table th {
    font-size: 0.8rem;
}
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active {
    color: white !important;
}
.section-civicrm-group .communication .block-blockdetailcommission--2 .icon-group, .section-civicrm-group .communication .block-b-zf-blockdetailcommission--2 .icon-group {
    width: 130px;
    height: 130px;
    background-color: #af1f7b;
    border-radius: 100%;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-civicrm-group div#block-b-zf-content {
    bottom: 35px;
    margin-bottom: 24px;
}
.section-civicrm-group .communication .block-blockdetailcommission--2 .icon-group i, .section-civicrm-group .communication .block-b-zf-blockdetailcommission--2  .icon-group i {
    font-size: 3rem;
    color: #FFF;
}
.icon-custom-group-person:before {
    content: '\e81a';
}
.section-civicrm-group .meeting-com .title-meet .title-meet-commission a, .page-toutes-mes-reunions .meeting-com .title-meet .title-meet-commission a {
    color: #140d3d;
    font-size: large;
    font-weight: 700;
    line-height: initial;
}
.section-civicrm-event #main .civicrm-entity--type-civicrm-event .meeting-page .icon-custom-calendar {
    font-size: 3rem;
    color: #FFF;
    width: 130px;
    height: 130px;
    background-color: #af1f7b;
    border-radius: 100%;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-custom-calendar:before {
    content: '\e80d';
}
.section-civicrm-event #main .civicrm-entity--type-civicrm-event {
    border-radius: 50px 0;
    padding: 3rem;
    border: initial;
    background: #f7f5f3;
    margin-bottom: 40px;
    position: relative;
}
#block-blockmescommissions .all-group-who-s-mine .each-group h3, .block-blockdetailcommission--2 .detail-group-title .group-info .group-name {
    color: #140d3d;
    font-weight: 600;
    font-size: 1.2rem;
}
.section-civicrm-group .block-blockdetailcommission--2 .detail-group-title .group-info .group-name {
    margin: 20px 0 0;
    font-size: 2rem;
}
.section-civicrm-group .meeting-com .title-meet, .page-toutes-mes-reunions .meeting-com .title-meet {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
 .section-civicrm-event .last-doc-title h2.main-title-last-doc {
    border-bottom: initial;
    text-align: initial;
    color: #3d3d3d;
    font-size: xxx-large;
    font-weight: 600;
    font-family: "DM Serif Display" !important;
}
.section-civicrm-group #block-b-zf-content {
    margin-bottom: 35px !important;
}
.first-element-doc {
    display: inline-flex;
    margin: 30px 0;
    gap: 50px;
    width: 100%;
}
.first-element-doc a.custom-icon-first-element {
    width: 15%;
    height: auto;
}
.first-element-doc .content-frist-doc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.detail-title-resume-first-doc {
    gap: 155px;
    display: flex;
}
.custom-section-doc .description, .first-element-doc .content-frist-doc .date-size-first-doc {
    font-size: 0.89rem;
    position: relative;
}
.edit-doc-button {
    text-transform: uppercase;
    font-size: .75rem;
    color: #3e7269;
    padding: 0px 15px;
    font-weight: 600;
    border-radius: 20px 0;
    line-height: initial;
}
.custom-section-doc {
    display: flex;
    padding-top: 17px;
}
.custom-section-doc .custom-icon-document {
    width: 3%;
}
.custom-section-doc .description-with-date-size {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 27px;
}
.custom-section-doc .description, .first-element-doc .content-frist-doc .date-size-first-doc {
    font-size: 0.89rem;
    position: relative;
}
.custom-section-doc .date-creation {
    color: #b1b1b1;
    font-size: 0.7rem;
}
.section-others-documents {
    display: none;
}
.title-first-doc a, .title-first-doc a:hover {
    color: #e52329;
    font-weight: 500;
}
.detail-date-button-first-doc {
    display: inline-grid;
}
.section-civicrm-group .block-blockdetailcommission--2 .detail-group-title .group-info {
    text-align: center;
    position: relative;
    z-index: 1;
}

.section-civicrm-group .item-list ul li > div > span > a {
    display: none;
}
#block-b-zf-main-menu li ul li.is-active a, #block-menuprincipal li ul li a:hover, #block-b-zf-main-menu li ul li a:hover {
    color: #af1f7b !important;
    text-decoration: none;
}
a.btn-add-meeting {
    text-transform: uppercase;
    font-size: .75rem;
    color: #af1f7b;
    padding: 10px 15px;
    font-weight: 600;
    background-color: #f7f5f3;
    border-radius: 20px 0;
    line-height: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-presentation-description {
    z-index: 2;
}
.section-civicrm-group .meeting-head {
    display: flex;
    align-items: center;
    gap: 30px;
}
a[href="/communication"], a[href="/rencontres-ateliers"], a[href="/faq"] {
    display: flex !important;
}
a[href="/communication"]:before {
    content: '';
    display: block;
    width: 23px;
    margin-top: -3px;
    height: 23px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 311.433 428.225"><path d="M209.283,120.028H196.312V0H34.119A29.184,29.184,0,0,0,4.91,29.191V399.035A29.18,29.18,0,0,0,34.1,428.225H287.15a29.18,29.18,0,0,0,29.191-29.191V120.028H209.283Zm-9.724,186.546H73.016V282.236H199.523v24.337Zm48.658-58.4H73.034V223.837H248.217Zm0-58.4H73.034v-24.32H248.217v24.32Zm-38.933-82.719H316.341L209.283,0Z" fill="%23212121"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
}
.top-bar#main-menu .grid-container {
    width: 84rem !important;
    max-width: 84rem !important;
}
.top-bar .grid-container {
    padding-right: 0.9375rem;
    padding-left: 3.9375rem;
    margin: 0 auto;
}
a[href="/rencontres-ateliers"]:before {
    margin-right: 9px;
}
a[href="/faq"]:before {
    content: '';
    display: block;
    width: 25px;
    margin-top: -3px;
    height: 23px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448.248 448.25"><path d="M0,448.25v-.039L.234,44.82A44.765,44.765,0,0,1,44.84,0H403.428a44.873,44.873,0,0,1,44.82,44.82V313.766a44.873,44.873,0,0,1-44.82,44.82H89.66L.023,448.219Zm224.105-186.3a24.117,24.117,0,1,0,24.113,24.117A24.144,24.144,0,0,0,224.105,261.945Zm0-148.2c13.184,0,23.191,5.3,28.188,14.93a29.321,29.321,0,0,1-1.9,29.7c-4.609,6.594-10.832,12.336-16.852,17.891-7.621,7.023-15.477,14.273-20.641,23.578-6.5,11.711-6.137,24.836-5.875,34.422l.012.359c.031,1.125.055,2.211.07,3.211h34.852c0-17.6,1.16-21.4,4.23-27.023,3.617-6.656,8.754-11.633,14.7-17.4,6.422-6.211,13.66-13.219,21.1-24.211,13.738-20.344,7.309-46.484-.367-59.086-11.3-18.453-32.3-29.031-57.637-29.031-30.246,0-56.043,18.742-65.719,47.742l31.23,13.148C192.98,131.438,202.133,113.742,224.105,113.742Z" fill="%23212121"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 9px;
}
a[href="/rencontres-ateliers"]:before {
    content: '';
    display: block;
    width: 25px;
    margin-top: -3px;
    height: 22px;
    padding: 0;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox=\'0 0 583.95 467.152\'><path id=\'Icon_fa-solid-users-rectangle\' d=\'M87.592,0A87.614,87.614,0,0,0,0,87.591v291.97a87.614,87.614,0,0,0,87.592,87.591H496.357a87.614,87.614,0,0,0,87.592-87.591V87.591A87.614,87.614,0,0,0,496.357,0Zm-29.2,87.591a29.166,29.166,0,0,1,29.2-29.2H496.357a29.166,29.166,0,0,1,29.2,29.2v291.97a29.166,29.166,0,0,1-29.2,29.2H87.592a29.166,29.166,0,0,1-29.2-29.2Zm145.8,72.993a43.8,43.8,0,1,0-43.8,43.8A43.8,43.8,0,0,0,204.2,160.584ZM87.592,282.207a24.357,24.357,0,0,0,24.362,24.361h51.187a94.786,94.786,0,0,1,59.49-67.153,48.166,48.166,0,0,0-23.084-5.839H136.225a48.675,48.675,0,0,0-48.632,48.631Zm333.216,24.361H472a24.357,24.357,0,0,0,24.362-24.361,48.616,48.616,0,0,0-48.632-48.631H384.4a47.9,47.9,0,0,0-23.084,5.839,94.786,94.786,0,0,1,59.49,67.153Zm-81.388-42.883a61.868,61.868,0,0,0-10.949-.912H255.478a61.868,61.868,0,0,0-10.949.912,65.9,65.9,0,0,0-51,42.883,64.562,64.562,0,0,0-3.741,21.9,21.845,21.845,0,0,0,21.9,21.9H372.268a21.845,21.845,0,0,0,21.9-21.9,64.562,64.562,0,0,0-3.741-21.9A65.9,65.9,0,0,0,339.421,263.686Zm127.739-103.1a43.8,43.8,0,1,0-43.8,43.8A43.8,43.8,0,0,0,467.16,160.584ZM291.975,233.576a58.394,58.394,0,1,0-58.395-58.394A58.395,58.395,0,0,0,291.975,233.576Z\' fill=\'%23212121\'/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
header .fa-search {
    color: #003a74 !important;
}
.section-civicrm-group .btn-add-meeting i {
    margin-right: 1rem;
    font-size: 20px;
}
body.section-civicrm-group .layout--twocol-section--50-50 .layout__region .block-views h2 {
    font-family: "Montserrat Variable", sans-serif !important;
}
.section-civicrm-group .block-blockdetailcommission--2 .detail-group-title:after, .section-civicrm-event #main .asheeeeeeeeeeeeee.meeting-page:after {
    content: "";
    background: url(/files/after-sestion-details-commission.png) no-repeat right bottom;
    right: 30px;
    bottom: 30px;
    width: 90px;
    height: 130px;
    position: absolute;
    background-size: contain;
}

.section-civicrm-group .layout.layout--twocol-section.layout--twocol-section--50-50 {
    margin-top: 20px;
}

.section-civicrm-event #main .asheeeeeeeeeeeeee.meeting-page:after {
    top: 158px;
}
#block-blockmescommissions .all-group-who-s-mine .each-group p, .block-blockdetailcommission--2 .detail-group-title .group-info .group-members {
    color: #707070;
    margin-bottom: 0;
}
[class^="icon-custom-"]:before, [class*=" icon-custom-"]:before {
    font-family: "custom-icon-cv";
    font-style: normal;
    font-weight: 400;
}
.section-civicrm-group .meeting-com, .page-toutes-mes-reunions .meeting-com {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #e7e0d9;
    border-radius: 20px;
    padding: 0;
    margin-bottom: 20px;
}
.section-civicrm-group .meeting-com .date-meet, .page-toutes-mes-reunions .meeting-com .date-meet {
    padding: 10px;
    display: grid;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    color: #140d3d;
    min-width: 125px;
    height: 150px;
}
.section-civicrm-group .grid-container.full.hero.communication {
    background: unset;
}
.section-civicrm-group .detail-group-title {
    background-color: #f7f5f3;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.section-espace-documentaire .sidebar-c-nav, .section-sitemap .sidebar-c-nav, .page-mentions-legales .sidebar-c-nav , .section-contact  .sidebar-c-nav {
    width: 25%;
}
.menu-c-nav-item.third svg{
    max-height: 56px;
}
.menu-c-nav-item.second svg{
    min-height: 55px;
}
.menu-c-nav-item svg {
    background-color: #af1f7b;
    border-radius: 9px !important;
    height: 110%;
    padding: 10px;
    font-size: 23px !important;
    width: 113px;
    min-width: 57px;
}
.text-bloc-c-nav {
    position: relative;
}
.section-civicrm-group .block-blockdetailcommission--2 .detail-group-title:before, .section-civicrm-event #main .civicrm-entity--type-civicrm-event:before {
    content: "";
    background: url(/files/before-section-details-comission.png) no-repeat center 0;
    top: 30px;
    left: 30px;
    width: 90PX;
    height: 50px;
    position: absolute;
    background-size: contain;
}
.section-civicrm-group .printParticipants footer a, .section-civicrm-group .printParticipants .more-link a {
    background-color: #af1f7b;
    color: white;
    padding: 10px 30px;
    border-radius: 15px 0;
    font-size: .9rem;
    box-shadow: initial;
    font-weight: 400;
    line-height: initial;
}
.section-civicrm-group .views-field-display-name {
    text-decoration: none !important;
}
.section-civicrm-group table > thead > tr > th:not(:last-child), .section-civicrm-event table > thead > tr > th:not(:last-child) {
    border-right: solid 1px #b4b4b4;
}
.section-civicrm-group table >thead > tr, .section-civicrm-event table >thead > tr {
    background-color: #e7e0d9;
    font-weight: 600;
    text-decoration: none;
}
.section-civicrm-group .meeting-com.odd .date-meet, .section-civicrm-group .meeting-com.odd .title-meet .title-meet-commission a, .section-civicrm-group .meeting-com.odd span {
    color: #acacac;
    pointer-events: none;
}
.section-civicrm-group .layout__region .contextual-region h2, .section-civicrm-group .group-detail-page .layout--onecol h2, .section-civicrm-group .last-doc-title h2.main-title-last-doc, .section-civicrm-group .meeting-head .meetings, .section-civicrm-event .block-blocklisteparticipant h3, .section-civicrm-event .last-doc-title h2.main-title-last-doc {
    border-bottom: initial;
    text-align: initial;
    color: #3d3d3d;
    font-size: xxx-large;
    font-weight: 600;
    font-family: 'Montserrat Variable';
}
.section-civicrm-group .meeting-com .date-meet .day, .page-toutes-mes-reunions .meeting-com .date-meet .day {
    font-size: xxx-large;
    font-weight: bold;
    line-height: normal;
    font-family: 'Montserrat Variable';
}
.section-civicrm-group .meeting-com.odd .date-meet, .section-civicrm-group .meeting-com.odd .title-meet .title-meet-commission a, .section-civicrm-group .meeting-com.odd span {
    color: #acacac;
    pointer-events: none;
}
.section-civicrm-group .date-meet .month-and-year, .page-toutes-mes-reunions .date-meet .month-and-year {
    font-size: small;
    line-height: initial;
}
.section-civicrm-group .layout--twocol-section--50-50 .layout__region .block-views h2 {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0;
    margin: 0 0 30px;
    line-height: initial;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 500;
    font-family: "new-order" !important;
}
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li:hover {
    background-color: #fce6e7;
}
.my-meeting.row{
	overflow: hidden;
}
.my-meeting.row:before,
.my-meeting.row:after {
	content: "";
	background: url(/files/after-section-reunion.png) no-repeat center 0;
	position: absolute;
	background-size: cover;
	height: 346px;
}
.my-meeting.row:before {
	left: 8px;
	bottom: 90px;
	width: 155px;
}
.my-meeting.row:after {
	right: -33px;
	top: 36px;
	width: 170px;
}

.page-tous-mes-groupes .block-views-block-civi-groupes-block-groupes-archives .item-list ul li,
.page-tous-mes-groupes .block-b-zf-views-block-civievents-base-sur-le-contact-block-10 .item-list ul li,
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li {
	list-style: none;
}
.page-tous-mes-groupes .block-views-block-civi-groupes-block-groupes-archives .item-list ul li:nth-of-type(odd),
.page-tous-mes-groupes .block-b-zf-views-block-civievents-base-sur-le-contact-block-10 .item-list ul li:nth-of-type(odd),
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li:nth-of-type(odd) {
    background-color: #e7e0d9;
	border-radius: 20px 0;
}
.page-tous-mes-groupes .views-element-container .item-list ul {
	margin-left: 0;
}
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 h2, .section-toutes-mes-reunions .block-views-block-civievents-base-sur-le-contact-block-7 h2 {
    font-weight: 600;
    font-size: 2.3rem;
    font-family: 'DM Serif Display' !important;
    margin-bottom: 2rem;
}

.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li a ,
.page-tous-mes-groupes .block-b-zf-views-block-civievents-base-sur-le-contact-block-10 .item-list ul li a ,
.page-tous-mes-groupes .block-views-block-civi-groupes-block-groupes-archives .item-list ul li a {
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    line-height: initial;
    color: #140d3d;
    font-weight: 600;
    font-size: 1.2rem;
}
.page-tous-mes-groupes .block-views-block-civi-groupes-block-groupes-archives .item-list ul li a:before,
.page-tous-mes-groupes .block-b-zf-views-block-civievents-base-sur-le-contact-block-10 .item-list ul li a:before,
.page-tous-mes-groupes .block-views-block-civievents-base-sur-le-contact-block-5 .item-list ul li a:before {
    content: '\e81a';
    font-family: "custom-icon-cv";
    font-weight: 900;
    margin-right: 1rem;
    color: #fff;
    width: 60px;
    height: 60px;
    background-color: #af1f7b;
    border-radius: 100%;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000005e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-civicrm-group .title-meet-commission a:before {
    display: none !important;
}


.container-c-nav {
    display: flex;
}

.sidebar-c-nav {
    width: 25%; /* Ou 3% selon votre préférence */
    background-color: #f0f0f0;
    padding: 10px; /* Ajustez le rembourrage si nécessaire */
}
li.menu-c-nav-item i {
    font-size: 40px;
}
.sidebar-c-nav {
    width: 100px;
    background-color: #f0f0f0;
    padding: 10px;
    padding-left: 5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-right: 11px;
}

.sidebar-c-nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 2px;
}

.sidebar-c-nav li {
    padding: 10px; /* Ajustez le rembourrage des éléments du menu */
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-c-nav li i {
    color: #af1f7b; /* Couleur de l'icône */
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

.sidebar-c-nav li:hover {
    background-color: #d0d0d0;
}

.content-c-nav {
    flex-grow: 1; /* Prend le reste de l'espace disponible */
    padding: 20px;
    padding-left: 10px;
}

.each-group-c {
    display: flex;
    gap: 12px;
    align-items: center;
}

.each-title-and-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
}
.section-civicrm-group div#content {
    width: 89%;
    padding-left: 10px;
}
.section-civicrm-group aside#sidebar_left {
    width: 6%;
    z-index: 10;
}
.com-keyword {
    color: gray;
}
hr.com-hr {
    color: white !important;
    background-color: white;
    border: none;
    height: 2px;
    margin-right: 12px;
}
.com-keyword {
    padding-bottom: 30px;
}
#block-b-zf-navigationmeetingandgroupblock {
    position: static;
    top: 69px;
}
.top-bar ul li ul li ul.submenu.is-dropdown-submenu {
    margin-left: 5px !important;
}

.page-node-type-page-site .sidebar-c-nav {
    width: 25%;
}
.page-node-type-page-site .text-bloc-c-nav {
    position: absolute;
}
header .top-bar ul li ul {
    background: #F1F1F1;
    border-radius: 10px;
    border: none;
    margin-top: 21px;
    padding-top: 8px;
    padding-left: 0px;
    width: 360px;
}
ul.submenu.is-dropdown-submenu.first-sub.vertical.js-dropdown-active li a {
    line-height: 22px;
}
#main-menu.top-bar li a {
    font-size: 1rem;
    color: black;
}
ul[block="block-b-zf-account-menu"] li a {
    color: white;
}
.icon-custom-logout-accout.cus-cus:before {
    content: '\e818';
}
.icon-custom-refresh.todiee:before {
    content: '\e819';
}
i.icon-custom-logout-accout.cus-cus, i.icon-custom-refresh.todiee {
    padding-right: 12px;
}
.role--adherent ul[block="block-b-zf-account-menu"] {
    position: absolute;
    left: auto;
    top: 86px;
    /* top: 100%; */
    right: 295px;
    display: none;
    min-width: 280px;
    width: auto;
    padding: 0.5rem 0;
    color: white;
    font-size: 0.85rem;
    background: #003a74;
    border-radius: 7px;
    z-index: 10;
    box-shadow: 1px 1px 4px rgb(59, 59, 59);
    flex-direction: column;
}
.role--anonymous ul[block="block-b-zf-account-menu"] {
    position: absolute;
    left: auto;
    top: 87px;
    /* top: 100%; */
    right: 306px;
    display: none;
    min-width: 280px;
    width: auto;
    padding: 0.5rem 0;
    color: white;
    font-size: 0.85rem;
    background: #003a74;
    border-radius: 7px;
    z-index: 10;
    box-shadow: 1px 1px 4px rgb(59, 59, 59);
    flex-direction: column;
}
.custom-element {
    display: inline;
    margin-left: 20px;
    text-transform: capitalize;
}

a[href="/contact/demande_d_acces_a_l_extranet"]:hover {
    background-color: #d51891 !important;
    color: white !important;
}
a[href="/contact/demande_d_acces_a_l_extranet"] {
    display: inline-block;
    background-color: #af1f7b;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

ul[block="block-b-zf-account-menu"] li:last-child {
    padding-top: 10px;
}

.role--anonymous ul[block="block-b-zf-account-menu"]  li:nth-child(1):after {
content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 5px;
    width: 90%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 20%;
    margin-left: 6%;
    top: 10px;
    margin-top: 8px;
}
.role--authenticated #block-b-zf-account-menu .menu .menu-item a:hover {
    border-bottom: none;
    box-sizing: border-box;
}

ul[block="block-b-zf-account-menu"] li:nth-last-child(2)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    margin-bottom: 5px;
    width: 90%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 20%;
    margin-left: 6%;
    top: 10px;
    margin-top: 8px;
}

li:has(a[href="/contact/demande_d_acces_a_l_extranet"]) {
    display: flex;
    justify-content: center;
}


ul[block="block-b-zf-account-menu"] {
    position: absolute;
    left: -142px;
    top: 40px;
    top: 145%;
    right: unset;
    display: none;
    min-width: 280px;
    width: fit-content;
    padding: 0.5rem 0;
    color: white;
    font-size: 0.85rem;
    background: #003a74;
    border-radius: 7px;
    z-index: 999;
    box-shadow: 1px 1px 4px rgb(59, 59, 59);
    flex-direction: column;
}
i.icon-custom-user-account {
    padding-right: 10px;
}
.icon-custom-user-account:before {
    content: "";
    content: '\e810';
    display: inline-block;
    width: 16px;
    height: 16px;
    /* background-image: url(path/to/your-icon.svg); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    margin-right: 5px;
    color: white;
}
a[data-drupal-link-system-path="node/96"]:before {
    font-family: "Font Awesome 5 Free";
    content: "\f015";
    font-weight: 900;
    margin-right: 5px;
    color: white;
    padding-right: 10px;
}

nav#block-b-zf-account-menu .trigger.focusable {
    left: 53px;
}
.btn-my-account {
    cursor: pointer;
}
.btn-my-account::before {
    color: white;
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 27px !important;
    border-radius: 50%;
    border: 2px solid #003a74;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    background-color: #003a74;
}

.page-node-type-page-site .dynamic-content {
    width: 500px;
}
#footer nav ul li.menu-item a {
    padding: 11px 0px;
}
.new-before-style::before {
    top: auto;
}
.grid-container.na-pages {
    position: relative;
}
.dynamic-content {
    display: block;
    
    height: auto;
    background-color: #f0f0f0;
    position: absolute;
    z-index: 2555;
    padding-top: 12px;
    padding-left: 24px;
    top: -21px;
    width: 500px;
    border-radius: 6px;
}

ul.dropdown.menu li.menu-item a {
    text-transform: capitalize;
}

div#block-b-zf-textedebienvenuhome h1:nth-of-type(2) {
    color: #003a74;
}
.maclasse {
    display: flex;
}
.maclasse .field-content .grid-margin-y {
    border: none;
}
.maclasse .views-field.views-field-view-node .field-content {
    padding-left: 16px;
}
.section1 #block-views-block-actualites-block-1 .maclasse .views-row {
    padding-left: 0;
}
.maclasse .created {
    font-style: normal;
    color: gray;
}
.is-front .views-field-body .grid-x.grid-margin-x.grid-margin-y {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.maclasse h3 a {
    color: #003a74;
    font-weight: bold;
}
.is-front .block-views-block-actualites-block-1 .grid-margin-y:not(.grid-y) > .cell {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}
.c-bodyc {
    height: 90px;
}
.maclasse .cell.medium-7 h3 {
    height: 97px;
}
div.top-bar#main-menu {
    margin-top: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.is-front .more-link {
    text-align: center;
}
.maclasse .cell.medium-5 {
    border: 1px solid #efebeb;
    border-radius: 8px;
}

.is-front .full.hero .grid-container.contextual-region {
    margin: unset;
    padding: unset;
    
    max-width: none;
}
.is-front #block-views-block-block-hero-block-1 {
    background: url(/files/2021-10/carrouselBg.png);
    max-height: none;
    margin-bottom: 1.5rem;
}
.is-front .views-field.views-field-field-slide {
    width: auto !important;
}
.is-front .views_slideshow_cycle_slide .views-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.is-front .views-field.views-field-field-slide .field-content img {
    position: relative;
    width: auto;
    max-width: none;
}
article.grid-container {
    max-width: 100rem;
}
#footer .site-logo img { 
    width: 35%;
    height: auto;
    top: 15px;
    margin-top: 8%;
}
#footer .site-logo {
    justify-content: space-around;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
}
#footer {
    background: #F1F1F1 !important;
    margin-top: 5rem;
    width: 100%;
    height: 100% !important;
    background-image: url(/files/relooking/arrow-foot.png) !important;
    color: #fff;
    height: 533px !important;
    background-repeat: no-repeat !important;
    background-position: left !important;
}

#footer #footer-region {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#footer-region nav.contextual-region, #footer-region nav.menu--footer {
    width: max-content;
    margin-top: 170px ;
} 
 
#footer-region .fab {
    font-family: 'Font Awesome 5 Brands' !important;
}
#footer-region nav > ul.menu li a::after {
    content: '|'; /* Ajoute un pipe après chaque lien */
    margin: 0 10px; /* Espace de chaque côté du pipe */
}
#footer-region nav > ul.menu li:last-child a::after {
    content: ''; /* Retire le pipe après le dernier élément */
}
#footer-region nav > ul.menu {
    display: inline-flex;
    flex-wrap: nowrap;
}
#footer-region nav {
    text-align: center;
}
#footer-region nav > ul.menu li a {
    color: black !important;
    text-transform: capitalize !important;
}
.section-civicrm-group .civicrm-entity .layout__region li, .section-civicrm-group .civicrm-entity .layout__region .block-views .contextual-region ul li {
    margin-left: 0;
    margin-bottom: 0;
}

#footer-region  div#block-makoa, #footer-region  div#block-makoa a {
    background: white;
    color: black;
    margin-top: 5vw;
    width: 100%;
    text-align: center;
}
#footer nav ul li.menu-item a {
    font-size: 1.0rem !important;
}

footer a.fab.fa-linkedin {
    font-size: 33px;
    color: #003a74 !important;
}
footer div#block-reseauxsociaux {
    margin-top: 45px;
    text-align: center;
    width: 100%;
}
.is-front #block-views-block-block-hero-block-1 .views-field-field-texte-slider {
    max-width: unset !important;
    position: absolute !important;
    top: 35%;
    left: 190px;
    transform: translateY(-50%);
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#block-views-block-actualites-block-1 .more-link a {
    margin-right: .5rem;
    border-radius: 9px !important;
}

div#block-b-zf-textedebienvenuhome {
    padding-left: 363px;
}
div#block-b-zf-textedebienvenuhome h1:first-of-type {
    color: #af1f7b;
    font-weight: bold;
}

.is-front div#block-views-block-actualites-block-1 i.far.fa-newspaper {
    display: none;
}
.is-front div#block-views-block-actualites-block-1 h2 {
    color: #003a74;
    font-weight: bold;
    text-align: left;
    font-size: 1.7rem;
    padding-left: 18px;
}


a.btn.button.all-meeting {
    background-color: #af1f7b;
}
.icon-meet i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fca65e;
    border-radius: 50%;
    padding: 8px;
    color: #333;
}
.each-meet-c {
    display: flex;
}
.icon-meet {
    padding-right: 21px;
    padding-top: 10px;
}
/* .text-bloc-c-nav {
    display: none;
    margin-top: 20px;
} */

.section-accueil-extranet .grid-container.na-pages:before,
.section-espace-documentaire  .grid-container.hero-taxonomy:before,
.page-node-type-page-site .grid-container.na-pages:before,
.section-civicrm-event .grid-container.na-pages:before,
.section-mentions-legales .grid-container.na-pages:before,
.section-sitemap .grid-container.na-pages:before,
 .grid-container.hero.communication:before {
    content: "";
    background: url(/files/relooking/arrow%20vertical.png) no-repeat center 0;
    right: 70px;
    width: 23%;
    height: 800px;
    background-size: contain;
    position: fixed;
}
.grid-container.na-pages.new-before-style:before {
    /* content: ""; */
    /* background: url(/files/relooking/arrow%20vertical.png) no-repeat center 0; */
    /* right: 0; */
    /* width: 38%; */
    /* height: 800px; */
    /* background-size: contain; */
    position: fixed;
    /* top: 0; */
    /* left: 88%; */
}
.civicrm-entity .layout__region h2  .fa-users-cog:before {
    display: none;
}
.section-civicrm-group .item-list ul li > div.views-field-title > span > a {
    display: block;
    color: #141313;
}
span.meetings .icon-custom-calendar {
    padding-right: 15px;
}
.layout--twocol-section.layout--twocol-section--50-50  .views-element-container.contextual-region h2{
    font-size: 1.4rem !important;
    
    text-transform: CAPITALIZE;
}
.views-element-container.contextual-region.block-views h2 , .meeting-head span.meetings, .section-civicrm-group h2{
    font-size: 1.7rem !important;
}
.item-list .views-field.views-field-title {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #e7e0d9;
    border-radius: 11px;
    padding: 17px;
    margin-bottom: 20px;
    
    padding-bottom: 0;
}
.grid-x.align-middle  button.float-right {
    position: absolute;
    top: 20.2%;
    right: 322px;
}
input#site-search {
    background-color: #f1f1f1;
    border: none;
    border-radius: 6px;
}
.grid-x.align-middle {
    position: relative;
}
.grid-x.align-middle .cell.medium-1 {
    display: flex;
    width: 73% !important;
}
.grid-x.align-middle .cell.medium-11 {
    width: 16% !important;
}
.grid-x.align-middle {
    display: flex;
    justify-content: space-between;
}

.dynamic-content {
    display: none;
}

    @media  (max-width: 1366px) {
        .section-accueil-extranet .grid-container.na-pages:before, .section-espace-documentaire .grid-container.hero-taxonomy:before, .page-node-type-page-site .grid-container.na-pages:before, .section-civicrm-event .grid-container.na-pages:before, .section-mentions-legales .grid-container.na-pages:before, .section-sitemap .grid-container.na-pages:before, .grid-container.hero.communication:before {
            display: none;
        }
    }
    @media (max-width: 1200px) { 
        body {
            background-color: rgb(65, 42, 170);
        }
    }
    
    @media (max-width: 1024px) { /*ipad pro */
        body {
            background-color: rgb(107, 177, 28);
        }
    }
    
    @media (max-width: 992px) { /* ipad air */
        #footer-region nav.contextual-region, #footer-region nav.menu--footer {
            width: auto;
        }
        .toolbar-tray-open.toolbar-vertical.toolbar-fixed {
            margin-inline-start: 0 !important;
        }
        body {
            background-color: cyan;
        }
        nav.sidebar-c-nav {
            display: none;
        }
        .text-bloc-c-nav {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .role--adherent ul[block="block-b-zf-account-menu"] {
            position: absolute;
            left: -92px;
            top: 43px;
            right: 0;
        }
        .align-right {
            float: right;
            position: absolute;
            margin-top: 4px;
            left: 223px;
            color: white;
            display: flex;
            align-items: flex-end;
        }
    }

    /* Medium devices (tablets, 768px and up) */
    @media (max-width: 768px) { 
        .civicrm-entity--view-mode-full .layout--onecol:first-of-type {
            padding: 0 !important;
        }
        a[href="/communication"]:before, a[href="/rencontres-ateliers"]:before, a[href="/faq"]:before {
           display: none;
        }
        .grid-x.align-middle button.float-right {
            position: absolute;
            top: -22px;
            right: 9px;
        }
        input#site-search {
            display: none;
        }
        .section-civicrm-group aside#sidebar_left {
            width: 100%;
            z-index: 10;
        }

        .section-civicrm-group .block-blockdetailcommission--2 .detail-group-title:after {
            display: none;
        }
        .dynamic-content {
            display: flex;
            height: auto;
            background-color: #f0f0f0;
            position: relative;
            z-index: 2555;
            padding-top: 12px;
            padding-left: 24px;
            top: -21px;
            width: 100%;
            border-radius: 6px;
        }
    
        .section-civicrm-group .layout.layout--twocol-section.layout--twocol-section--50-50 {
            background-color: #f7f5f3;
            border-radius: 50px 0;
            padding: 40px 0px;
            margin: 0;
            gap: 0;
            flex-wrap: nowrap;
            flex-direction: column-reverse;
        }
        .section-civicrm-group .views-send-selection-form form{
            overflow: auto;
        }
        .section-civicrm-group .civicrm-entity--view-mode-full .layout--twocol-section .layout__region {
            border-bottom: 1px solid rgba(217, 32, 38, .0);
            margin: 3rem 0 1rem;
            padding: 0;
        }
        .section-civicrm-group .civicrm-entity .layout__region .block-views .contextual-region ul li {
            margin-left: 0;
        }
    
        .section-civicrm-group .layout--twocol-section .layout__region.layout__region--first {
            padding-left : 0;
        }
        .section-accueil-extranet .grid-container.na-pages:before, .section-espace-documentaire .grid-container.hero-taxonomy:before, .page-node-type-page-site .grid-container.na-pages:before, .section-civicrm-event .grid-container.na-pages:before, .section-mentions-legales .grid-container.na-pages:before, .section-sitemap .grid-container.na-pages:before, .grid-container.hero.communication:before {
            display: none;
        }
        .section-civicrm-group .meeting-head {
            display: flex;
            align-items: center;
            gap: 30px;
            flex-direction: column;
        }
        .section-civicrm-group .meeting-com, .page-toutes-mes-reunions .meeting-com {
            display: flex;
            align-items: normal;
            width: 100%;
            gap: 20px;
            background-color: #e7e0d9;
            border-radius: 20px;
            padding: 17px;
            margin-bottom: 20px;
            flex-direction: column;
        }
        .maclasse {
            display: flex;
            flex-direction: column;
        }  
        div#block-b-zf-textedebienvenuhome {
            padding-left: 11px;
        }
        .is-front .views-field.views-field-field-slide .field-content img {
            position: relative;
            width: auto;
            max-width: 100%;
        }
    }