<div class="cu-navigation">
    <div class="cu-nav-meet">
        <a href="#block-views-block-civievents-base-sur-le-contact-block-2">
            <p class="icon-meet-c"><svg xmlns="http://www.w3.org/2000/svg" id="Icon_ionic-ios-calendar" data-name="Icon ionic-ios-calendar" width="276.31" height="255.057" viewBox="0 0 276.31 255.057">
                <path id="Tracé_16" data-name="Tracé 16" d="M253.116,6.75H226.548V22.691A5.329,5.329,0,0,1,221.234,28H210.607a5.329,5.329,0,0,1-5.314-5.314V6.75H77.766V22.691A5.329,5.329,0,0,1,72.452,28H61.825a5.329,5.329,0,0,1-5.314-5.314V6.75H29.943A26.646,26.646,0,0,0,3.375,33.318V213.984a26.646,26.646,0,0,0,26.568,26.568H253.116a26.646,26.646,0,0,0,26.568-26.568V33.318A26.646,26.646,0,0,0,253.116,6.75Zm5.314,199.263A13.323,13.323,0,0,1,245.146,219.3H37.914A13.323,13.323,0,0,1,24.63,206.013V86.455a5.329,5.329,0,0,1,5.314-5.314H253.116a5.329,5.329,0,0,1,5.314,5.314Z" transform="translate(-3.375 14.505)" fill="#003a74"/>
                <path id="Tracé_17" data-name="Tracé 17" d="M30.255,9.814A5.329,5.329,0,0,0,24.941,4.5H14.314A5.329,5.329,0,0,0,9,9.814V25.755H30.255Z" transform="translate(44.136 -4.5)" fill="#003a74"/>
                <path id="Tracé_18" data-name="Tracé 18" d="M46,9.814A5.329,5.329,0,0,0,40.691,4.5H30.064A5.329,5.329,0,0,0,24.75,9.814V25.755H46Z" transform="translate(177.168 -4.5)" fill="#003a74"/>
                </svg>
                </p>
            <p>Mes réunions</p>
        </a>
    </div>
    <div class="cu-nav-group"><a href="#commissions-block-adherent">
        <p class="icon-commis"><svg xmlns="http://www.w3.org/2000/svg" width="287.688" height="183.076" viewBox="0 0 287.688 183.076">
  <path id="Icon_material-group" data-name="Icon material-group" d="M197.651,85.961a39.23,39.23,0,1,0-39.23-39.23A39.067,39.067,0,0,0,197.651,85.961Zm-104.614,0a39.23,39.23,0,1,0-39.23-39.23A39.067,39.067,0,0,0,93.037,85.961Zm0,26.154c-30.469,0-91.537,15.3-91.537,45.769v32.692H184.574V157.884C184.574,127.415,123.506,112.115,93.037,112.115Zm104.614,0c-3.792,0-8.108.262-12.684.654,15.169,10.985,25.761,25.761,25.761,45.115v32.692h78.46V157.884C289.188,127.415,228.119,112.115,197.651,112.115Z" transform="translate(-1.5 -7.5)" fill="#003a74"></path>
</svg></p>
        <p>Mes groupes</p>
    </a>
    </div>
    <div class="cu-nav-com">
    <a href="#block-views-block-communication-block-1">
        <p class="icon-comm"><svg xmlns="http://www.w3.org/2000/svg" width="192.589" height="264.82" viewBox="0 0 192.589 264.82">
  <path id="Icon_simple-googledocs" data-name="Icon simple-googledocs" d="M131.294,74.227h-8.022V0H22.972A18.048,18.048,0,0,0,4.91,18.052V246.768A18.045,18.045,0,0,0,22.961,264.82H179.447A18.045,18.045,0,0,0,197.5,246.768V74.227h-66.2ZM125.28,189.589H47.027V174.539h78.232v15.051Zm30.09-36.115H47.038V138.424H155.37Zm0-36.115H47.038V102.32H155.37v15.04ZM131.294,66.205h66.2L131.294,0Z" transform="translate(-4.909)" fill="#003a74"/>
</svg>
</p>
        <p>Communications</p>
    </a>
    </div>
</div>