<div class="cu-navigation">
{% if content.data.id %}
            <a href="/contacts-etablissement/{{ content.data.id }}?h={{ content.data.hash }}" class="link-nav-c">
    <div class="cu-nav-my-etablissment">
        <span class="field-content">
       <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 80 80"> 
  <path 
    d="M 16 9 C 14.355469 9 13 10.355469 13 12 L 13 68 C 13 69.644531 14.355469 71 16 71 L 64 71 C 65.644531 71 67 69.644531 67 68 L 67 12 C 67 10.355469 65.644531 9 64 9 Z M 16 11 L 20 11 L 20 69 L 16 69 C 15.433594 69 15 68.566406 15 68 L 15 12 C 15 11.433594 15.433594 11 16 11 Z M 22 11 L 64 11 C 64.566406 11 65 11.433594 65 12 L 65 68 C 65 68.566406 64.566406 69 64 69 L 22 69 L 22 67 C 22.550781 67 23 66.550781 23 66 C 23 65.449219 22.550781 65 22 65 L 22 15 C 22.550781 15 23 14.550781 23 14 C 23 13.449219 22.550781 13 22 13 Z M 26 13 C 25.449219 13 25 13.449219 25 14 C 25 14.550781 25.449219 15 26 15 C 26.550781 15 27 14.550781 27 14 C 27 13.449219 26.550781 13 26 13 Z M 30 13 C 29.449219 13 29 13.449219 29 14 C 29 14.550781 29.449219 15 30 15 C 30.550781 15 31 14.550781 31 14 C 31 13.449219 30.550781 13 30 13 Z M 34 13 C 33.449219 13 33 13.449219 33 14 C 33 14.550781 33.449219 15 34 15 C 34.550781 15 35 14.550781 35 14 C 35 13.449219 34.550781 13 34 13 Z M 38 13 C 37.449219 13 37 13.449219 37 14 C 37 14.550781 37.449219 15 38 15 C 38.550781 15 39 14.550781 39 14 C 39 13.449219 38.550781 13 38 13 Z M 42 13 C 41.449219 13 41 13.449219 41 14 C 41 14.550781 41.449219 15 42 15 C 42.550781 15 43 14.550781 43 14 C 43 13.449219 42.550781 13 42 13 Z M 46 13 C 45.449219 13 45 13.449219 45 14 C 45 14.550781 45.449219 15 46 15 C 46.550781 15 47 14.550781 47 14 C 47 13.449219 46.550781 13 46 13 Z M 50 13 C 49.449219 13 49 13.449219 49 14 C 49 14.550781 49.449219 15 50 15 C 50.550781 15 51 14.550781 51 14 C 51 13.449219 50.550781 13 50 13 Z M 54 13 C 53.449219 13 53 13.449219 53 14 C 53 14.550781 53.449219 15 54 15 C 54.550781 15 55 14.550781 55 14 C 55 13.449219 54.550781 13 54 13 Z M 58 13 C 57.449219 13 57 13.449219 57 14 C 57 14.550781 57.449219 15 58 15 C 58.550781 15 59 14.550781 59 14 C 59 13.449219 58.550781 13 58 13 Z M 62 13 C 61.449219 13 61 13.449219 61 14 C 61 14.550781 61.449219 15 62 15 C 62.550781 15 63 14.550781 63 14 C 63 13.449219 62.550781 13 62 13 Z M 62 17 C 61.449219 17 61 17.449219 61 18 C 61 18.550781 61.449219 19 62 19 C 62.550781 19 63 18.550781 63 18 C 63 17.449219 62.550781 17 62 17 Z M 62 21 C 61.449219 21 61 21.449219 61 22 C 61 22.550781 61.449219 23 62 23 C 62.550781 23 63 22.550781 63 22 C 63 21.449219 62.550781 21 62 21 Z M 62 25 C 61.449219 25 61 25.449219 61 26 C 61 26.550781 61.449219 27 62 27 C 62.550781 27 63 26.550781 63 26 C 63 25.449219 62.550781 25 62 25 Z M 41 28 C 37.144531 28 34 31.144531 34 35 C 34 37.40625 35.230469 39.539063 37.089844 40.796875 C 33.515625 42.324219 31 45.875 31 50 L 33 50 C 33 45.570313 36.570313 42 41 42 C 45.429688 42 49 45.570313 49 50 L 51 50 C 51 45.875 48.484375 42.324219 44.910156 40.796875 C 46.769531 39.539063 48 37.40625 48 35 C 48 31.144531 44.855469 28 41 28 Z M 62 29 C 61.449219 29 61 29.449219 61 30 C 61 30.550781 61.449219 31 62 31 C 62.550781 31 63 30.550781 63 30 C 63 29.449219 62.550781 29 62 29 Z M 41 30 C 43.773438 30 46 32.226563 46 35 C 46 37.773438 43.773438 40 41 40 C 38.226563 40 36 37.773438 36 35 C 36 32.226563 38.226563 30 41 30 Z M 62 33 C 61.449219 33 61 33.449219 61 34 C 61 34.550781 61.449219 35 62 35 C 62.550781 35 63 34.550781 63 34 C 63 33.449219 62.550781 33 62 33 Z M 62 37 C 61.449219 37 61 37.449219 61 38 C 61 38.550781 61.449219 39 62 39 C 62.550781 39 63 38.550781 63 38 C 63 37.449219 62.550781 37 62 37 Z M 62 41 C 61.449219 41 61 41.449219 61 42 C 61 42.550781 61.449219 43 62 43 C 62.550781 43 63 42.550781 63 42 C 63 41.449219 62.550781 41 62 41 Z M 62 45 C 61.449219 45 61 45.449219 61 46 C 61 46.550781 61.449219 47 62 47 C 62.550781 47 63 46.550781 63 46 C 63 45.449219 62.550781 45 62 45 Z M 62 49 C 61.449219 49 61 49.449219 61 50 C 61 50.550781 61.449219 51 62 51 C 62.550781 51 63 50.550781 63 50 C 63 49.449219 62.550781 49 62 49 Z" 
    fill="#003a7e" 
    stroke="#003a7e" 
    stroke-width="2"></path> 
</svg>


           <p> Contacts de mon Etablissement</p>
        </span>
    </div>
            </a>
             {% endif %}
    <div class="cu-nav-meet">
        <a href="#block-views-block-civievents-base-sur-le-contact-block-2">
            <p class="icon-meet-c"><svg xmlns="http://www.w3.org/2000/svg" id="Icon_ionic-ios-calendar" data-name="Icon ionic-ios-calendar" width="276.31" height="255.057" viewBox="0 0 276.31 255.057">
                <path id="Tracé_16" data-name="Tracé 16" d="M253.116,6.75H226.548V22.691A5.329,5.329,0,0,1,221.234,28H210.607a5.329,5.329,0,0,1-5.314-5.314V6.75H77.766V22.691A5.329,5.329,0,0,1,72.452,28H61.825a5.329,5.329,0,0,1-5.314-5.314V6.75H29.943A26.646,26.646,0,0,0,3.375,33.318V213.984a26.646,26.646,0,0,0,26.568,26.568H253.116a26.646,26.646,0,0,0,26.568-26.568V33.318A26.646,26.646,0,0,0,253.116,6.75Zm5.314,199.263A13.323,13.323,0,0,1,245.146,219.3H37.914A13.323,13.323,0,0,1,24.63,206.013V86.455a5.329,5.329,0,0,1,5.314-5.314H253.116a5.329,5.329,0,0,1,5.314,5.314Z" transform="translate(-3.375 14.505)" fill="#003a74"/>
                <path id="Tracé_17" data-name="Tracé 17" d="M30.255,9.814A5.329,5.329,0,0,0,24.941,4.5H14.314A5.329,5.329,0,0,0,9,9.814V25.755H30.255Z" transform="translate(44.136 -4.5)" fill="#003a74"/>
                <path id="Tracé_18" data-name="Tracé 18" d="M46,9.814A5.329,5.329,0,0,0,40.691,4.5H30.064A5.329,5.329,0,0,0,24.75,9.814V25.755H46Z" transform="translate(177.168 -4.5)" fill="#003a74"/>
                </svg>
                </p>
            <p>Mes réunions</p>
        </a>
    </div>
    <div class="cu-nav-group"><a href="#commissions-block-adherent">
        <p class="icon-commis"><svg xmlns="http://www.w3.org/2000/svg" width="287.688" height="183.076" viewBox="0 0 287.688 183.076">
  <path id="Icon_material-group" data-name="Icon material-group" d="M197.651,85.961a39.23,39.23,0,1,0-39.23-39.23A39.067,39.067,0,0,0,197.651,85.961Zm-104.614,0a39.23,39.23,0,1,0-39.23-39.23A39.067,39.067,0,0,0,93.037,85.961Zm0,26.154c-30.469,0-91.537,15.3-91.537,45.769v32.692H184.574V157.884C184.574,127.415,123.506,112.115,93.037,112.115Zm104.614,0c-3.792,0-8.108.262-12.684.654,15.169,10.985,25.761,25.761,25.761,45.115v32.692h78.46V157.884C289.188,127.415,228.119,112.115,197.651,112.115Z" transform="translate(-1.5 -7.5)" fill="#003a74"></path>
</svg></p>
        <p>Mes groupes</p>
    </a>
    </div>
    <div class="cu-nav-com">
    <a href="#block-views-block-communication-block-1">
        <p class="icon-comm"><svg xmlns="http://www.w3.org/2000/svg" width="192.589" height="264.82" viewBox="0 0 192.589 264.82">
  <path id="Icon_simple-googledocs" data-name="Icon simple-googledocs" d="M131.294,74.227h-8.022V0H22.972A18.048,18.048,0,0,0,4.91,18.052V246.768A18.045,18.045,0,0,0,22.961,264.82H179.447A18.045,18.045,0,0,0,197.5,246.768V74.227h-66.2ZM125.28,189.589H47.027V174.539h78.232v15.051Zm30.09-36.115H47.038V138.424H155.37Zm0-36.115H47.038V102.32H155.37v15.04ZM131.294,66.205h66.2L131.294,0Z" transform="translate(-4.909)" fill="#003a74"/>
</svg>
</p>
        <p>Communications</p>
    </a>
    </div>
</div>