<div class="cu-navigation">
    <div class="cu-nav-meet">
        <p>Mes réunions</p>
    </div>
    <div class="cu-nav-group">
        <p>Mes commissions</p>
    </div>
    <div class="cu-nav-com">
        <p>Communications</p>
    </div>
</div>